<section class="main">
  <div class="content">
    <div class="text">
      <h3>
        {{ 'support.main.title' | translate }}
      </h3>
      <p> {{ 'support.main.subtitle' | translate }} </p>
      <br>
      <div class="channels">
        <div class="channel-logo">
          <img src="https://storage.googleapis.com/front-agrodatai-dev/agrodatai/img/landing/support/Phone.svg" alt=""
            srcset="">
        </div>
        <div class="channel-text">
          <h5>{{ 'support.main.channels.phone' | translate }}</h5>
          <p>{{ 'support.main.channels.phone-number' | translate }}</p>
        </div>
      </div><br>
      <div class="channels">
        <div class="channel-logo">
          <img src="https://storage.googleapis.com/front-agrodatai-dev/agrodatai/img/landing/support/Movil.svg" alt=""
            srcset="">
        </div>
        <div class="channel-text">
          <h5>{{ 'support.main.channels.mobile' | translate }}</h5>
          <p>{{ 'support.main.channels.mobile-number1' | translate }} <br>
            {{ 'support.main.channels.mobile-number2' | translate }} </p>
        </div>
      </div><br>
      <div class="channels">
        <div class="channel-logo">
          <img class="mail"
            src="https://storage.googleapis.com/front-agrodatai-dev/agrodatai/img/landing/support/Mail.svg" alt=""
            srcset="">
        </div>
        <div class="channel-text">
          <h5>{{ 'support.main.channels.mail' | translate }}</h5>
          <p>{{ 'support.main.channels.e-mail' | translate }}</p>
        </div>
      </div><br>
      <div class="channels">
        <div class="channel-logo">
          <img class="table"
            src="https://storage.googleapis.com/front-agrodatai-dev/agrodatai/img/landing/support/Call-center.svg"
            alt="" srcset="">
        </div>
        <div class="channel-text">
          <h5>{{ 'support.main.channels.online' | translate }}</h5>
          <div>
            <button (click)="goSupport()">
              <h5>{{ 'support.main.channels.button' | translate }} </h5>
            </button>
          </div>
        </div>
      </div>

    </div>
    <div class="img">
      <div>
        <img
          src="https://storage.googleapis.com/front-agrodatai-dev/agrodatai/img/landing/support/Don-Tulio-Call-center.svg"
          alt="">
      </div>
    </div>
  </div>


</section>